// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.tag1{
    width: 100%;
    height: 50px;
}

.home-topabout{
    margin: 25px 50px 25px;
    font-size: larger;
    display: flex;
}

#input{
	display: none;
}

.home-ham{
    margin: 25px;
}

.home-menu{
    width: 90%;
}

.home-ham1{
    margin: 20px 10px 20px;
    font-size: larger;
}

.home-ham1 li{
    margin: 20px 10px 20px;
    font-size: larger;
    list-style-type:none;
}
/*3本線を作る*/
.line1,.line2,.line3{
	width: 45px;
	height: 2px;
	background-color: rgb(255, 255, 255);
	margin: 7px;
}

 
/*メニューのデザイン*/
 
#content{
	background-color: rgba(0, 0, 0, 0.603);
    color: rgb(255, 255, 255);
	width: 150px;
	height: 200px;
	transform: translateX(-1500px); /*左側の奥の奥に埋めておく*/
    font-family: 'Kaisei Decol', serif;
}
 
a {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

a:hover {
    color: rgb(242, 139, 247);
}
 
#input:checked ~ #content{
	transform: translatex(0px);/*通常値に戻す*/
}


.home-image{
    background-image: url("home.jpg");
    background-size: cover;
 
}

.home-header{
    background-color: rgba(0, 0, 0, 0.598);
    height: 80px;
    display: flex;
}

.home-box{
    display: flex;
}
.home-left{
    width: 700px;
    height: 800px;
}

.home-left1{
    height: 30%;
}

.home-left2{
    color: rgb(252, 251, 251);
    font-family: 'Kaisei Decol', serif;
    font-size: 200%;
    display: flex;
}

.home-right{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.home-item{  
    width:  110px;
    height: 70px;
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    }

.about-image{
    background-image: url("home.jpg");
    background-size: cover;
   
    height: 800px;
    color: azure;
    font-family: 'Kaisei Decol', serif;
    font-size: smaller;
    
}

.about-holl{
    display: flex;
}
.about-left{
    width: 100px;
   
}

.about-right1{
    height: 50px;
}

.study{
    background-color: rgba(0, 0, 0, 0.601);
    color: rgb(255, 255, 255);
    text-decoration: none;
    width:  110px;
    height: 70px;
    font-size: larger;
    font-family: 'Kaisei Decol', serif;
    border: 0.1px solid;
    border-color: #3b3a3a;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2), inset 0 1px 1px rgba(255, 255, 255, .7);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .4);
}
.study:hover {
    background-color: rgba(255, 255, 255, .3);
  }
.sport{
    background-color: rgba(0, 0, 0, 0.702);
    color: rgb(255, 255, 255);
    text-decoration: none;
    width:  110px;
    height: 70px;
    font-size: larger;
    font-family: 'Kaisei Decol', serif;
    border: 0.1px solid;
    border-color: #3b3a3a;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2), inset 0 1px 1px rgba(255, 255, 255, .7);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .4);
}
.sport:hover {
    background-color: rgba(255, 255, 255, .3);
  }

.job{
    background-color: rgba(0, 0, 0, 0.702);
    color: rgb(255, 255, 255);
    text-decoration: none;
    width:  110px;
    height: 70px;
    font-size: larger;
    font-family: 'Kaisei Decol', serif;
    border: 0.1px solid;
    border-color: #3b3a3a;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2), inset 0 1px 1px rgba(255, 255, 255, .7);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .4);
}
.job:hover {
    background-color: rgba(255, 255, 255, .3);
  }

.art{
    background-color: rgba(0, 0, 0, 0.702);
    color: rgb(255, 255, 255);
    text-decoration: none;
    width:  110px;
    height: 70px;
    font-size: larger;
    font-family: 'Kaisei Decol', serif;
    border: 0.1px solid;
    border-color: #3b3a3a;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2), inset 0 1px 1px rgba(255, 255, 255, .7);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .4);
}
.art:hover {
    background-color: rgba(255, 255, 255, .3);
  }

.bed{
    background-color: rgba(0, 0, 0, 0.702);
    color: rgb(255, 255, 255);
    text-decoration: none;
    width:  110px;
    height: 70px;
    font-size: larger;
    font-family: 'Kaisei Decol', serif;
    border: 0.1px solid;
    border-color: #3b3a3a;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2), inset 0 1px 1px rgba(255, 255, 255, .7);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .4);
}
.bed:hover {
    background-color: rgba(255, 255, 255, .3);
  }

.other{
    background-color: rgba(0, 0, 0, 0.702);
    color: rgb(255, 255, 255);
    text-decoration: none;
    width:  110px;
    height: 70px;
    font-size: larger;
    font-family: 'Kaisei Decol', serif;
    border: 0.1px solid;
    border-color: #3b3a3a;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2), inset 0 1px 1px rgba(255, 255, 255, .7);
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .4);
}
.other:hover {
    background-color: rgba(255, 255, 255, .3);
  }

.home-left2a{
    width: 150px;
}

.new-image{
    background-image: url("home.jpg");
    background-size: cover;
    width: 100vw;
    height: 800px;
    color: azure;
    font-family: 'Kaisei Decol', serif;  
}

.new-top{
    margin: 80px 150px 0;
}



.declare-button{
    background-color: rgba(0, 0, 0, 0.631);
    color: rgb(255, 255, 255);
    height: 40px;
    width: 100px;
    border-radius: 10px;
    margin: 10px;
    font-family: 'Kaisei Decol', serif;
}

.declare-button:hover{
    background-color: rgba(255, 255, 255, .3);
}

.study-image{
    background-image: url("home.jpg");
    background-size: cover;
    color: azure;
    font-family: 'Kaisei Decol', serif;
    min-height: 100vh
  
}

.study-top{
    display: flex;
}

.study-top1{
    width: 150px;
}

.study-top2{
    width: 64%;
    margin-top: 50px;
}

.study-top3a{
    height: 70%;
}

.create{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.702);
    width:  150px;
    height: 50px;
    font-family: 'Kaisei Decol', serif;
    border-radius: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.create:hover {
    background-color: rgba(255, 255, 255, .3);
  }

.study-top3b{
    width:  150px;
    height: 50px;
    font-family: 'Kaisei Decol', serif;
    border-radius: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.study-content{ 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
   
}



.study-main{
    background-color: #0000009b;
    border-radius: 10px;
    width:  250px;
    height: 150px;
    color: azure;
    font-family: 'Kaisei Decol', serif; 
    margin: 100px 0 5px;
    margin-left: 60%;
}
.study-main:hover {
    background-color: rgba(255, 255, 255, .3);
  }

.study-icon{ 
    width:  250px;
    margin-right: 150px;
}

.study-icon a{
    width:  250px;
}

.study-show{
    background-color: rgba(255, 255, 255, 0.375);
    width: 90%;
    height: 90%;
    margin: 55px;
    border-radius: 20px;
}

.study-hold{
    display: flex;
    width: 250px;
    margin: 3px 150px 5px;
}

.edit{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Kaisei Decol', serif; 

}

.talk{
    font-size: larger;
}

.ed{
    font-family: 'Kaisei Decol', serif; 
}

.edit-top{
    margin: 100px;
}

.edit2:hover {
    color: rgb(242, 139, 247);
  }

.edit3{
    color: azure;
    text-decoration: none;
    font-family: 'Kaisei Decol', serif; 
    margin: 10px;
    font-size: larger;
}

.edit3:hover {
    color: rgb(242, 139, 247);
  }


.delete{
    color: azure;
    text-decoration: none;
}

.edit:hover {
    color: rgb(242, 139, 247);
  }

.delete:hover {
    color: rgba(242, 139, 247, 0.611);
}

.show-title{
    background-color: rgba(255, 255, 255, 0.601);
    border-radius: 20px;
    width:  350px;
    height: 250px;
    font-family: 'Kaisei Decol', serif; 
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: larger;
}

.show-top{
    height: 250px;
    display: flex;
}

.show-top1{
    margin: 50px;
}

.show-chat{
    background-color: rgba(255, 255, 255, 0.802);
    margin: 80px;
    border-radius: 5px;
}

.show-chat1{
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
}

.my-image{
    background-image: url("home.jpg");
    background-size: cover;
 
}

.my-top{
    font-family: 'Kaisei Decol', serif;
    color: azure;
    margin: 50px 80px 0;
}

.my-chat{
    background-color: rgba(255, 255, 255, 0.802);
    margin: 80px 80px 0;
    border-radius: 5px;
}

.pro{
    color: azure;
}
.pro:hover {
    color: rgb(242, 139, 247);
  }

.my-content{
    margin: 30px;
}

.my-post{
    display:flex;
    flex-flow: column;
}

.my-like{
    display:flex;
    flex-flow: column;
}

.my-like1{
    display: flex;
}

.detail{
    margin: 15px 5px 0;
    color: rgb(145, 0, 212);
}

.detail:hover{
    color: rgb(242, 139, 247);
}

.create1{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.702);
    width:  150px;
    height: 50px;
    font-family: 'Kaisei Decol', serif;
    border-radius: 30px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 0 75% 0;
}

.create1:hover {
    background-color: rgba(255, 255, 255, .3);
    color: rgb(255, 255, 255);
  }